body {
  margin:0;
  overflow:hidden;
  font-family:sans-serif;
  background:#111;
  color:white;
}

#menu {
  position:absolute;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#111;
}

button {
  padding:10px 20px;
  font-size:18px;
  cursor:pointer;
}

#ui {
  position:absolute;
  top:10px;
  left:10px;
  background:rgba(0,0,0,0.6);
  padding:10px;
}
